<h1>Posts</h1>
<div class="posts">
  <% cache(['posts', current_user.try(:id), params[:page], params[:tag]], expires_in: 1.hour) do %>
    <% @posts.each do |post| %>
      <%= render partial: 'shared/post', locals: {post: post} %>
    <% end %>
  <% end %>
  <%= will_paginate @posts %>
</div>
<%= render partial: 'shared/tags' %>
